qrcodes/nodered/pdf-generation.json
[{"id":"dac5a6e82fb4b0b7","type":"tab","label":"PDF Generator","disabled":false,"info":"","env":[]},{"id":"db008e30e8fbae4c","type":"file in","z":"dac5a6e82fb4b0b7","name":"--->READ CSV-FILE PATH<---","filename":"C:/Kunbus Hackathon 2022/codes.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":270,"y":140,"wires":[["c8d887394d3a6181"]]},{"id":"c8d887394d3a6181","type":"function","z":"dac5a6e82fb4b0b7","name":"","func":"\nmsg.payload = '<html><head></head><style>* {font-family: sans-serif;font-size:120%;}</style><body><img src=\"' + msg.payload;\nmsg.payload = msg.payload.replace(/(?:\\r\\n|\\r|\\n)/g, '\"> Scanne mich am Weihnachts-Automaten<br><hr><br><img src=\"');\nmsg.payload = msg.payload + '</body></html>';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":140,"wires":[["df3f6a2bb061be6a","fd6a7a8b13e6535a"]]},{"id":"df3f6a2bb061be6a","type":"debug","z":"dac5a6e82fb4b0b7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":140,"wires":[]},{"id":"fd6a7a8b13e6535a","type":"file","z":"dac5a6e82fb4b0b7","name":"--->WRITE HTML-FILE PATH<---","filename":"C:/Kunbus Hackathon 2022/codes.html","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":620,"y":200,"wires":[[]]},{"id":"09982bc1cba58875","type":"link in","z":"dac5a6e82fb4b0b7","name":"","links":["f12278243f39639d"],"x":75,"y":80,"wires":[["debfd8300bd4b3f7"]]},{"id":"debfd8300bd4b3f7","type":"trigger","z":"dac5a6e82fb4b0b7","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"2","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":200,"y":80,"wires":[["db008e30e8fbae4c"]]}]
