qrcodes/nodered/qrcode-scanner.json
[{"id":"1a4e3bf66dce66ad","type":"tab","label":"QR Code Scan","disabled":false,"info":""},{"id":"9fa53c6ebd816f95","type":"serial in","z":"1a4e3bf66dce66ad","name":"connex DM70","serial":"50b63c8d.67b134","x":110,"y":140,"wires":[["a52573933901ede0"]]},{"id":"54fbb8bf2e5f23f1","type":"debug","z":"1a4e3bf66dce66ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":80,"wires":[]},{"id":"899d22c72fc0d2e3","type":"comment","z":"1a4e3bf66dce66ad","name":"COM Settings","info":"115200\nno parity\n8 bits\n1 stop bit","x":110,"y":40,"wires":[]},{"id":"e214b4ced305d0ee","type":"mqtt out","z":"1a4e3bf66dce66ad","name":"send scan event","topic":"/tedge/events/scan","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c4a4f5a0.ad2e18","x":740,"y":140,"wires":[]},{"id":"d0e733c6a0a5463d","type":"change","z":"1a4e3bf66dce66ad","name":"","rules":[{"t":"set","p":"scan","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.text","pt":"msg","to":"scan","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":140,"wires":[["54fbb8bf2e5f23f1","e214b4ced305d0ee"]]},{"id":"a52573933901ede0","type":"function","z":"1a4e3bf66dce66ad","name":"remove CRLF","func":"let code = msg.payload.toString();\nmsg.payload = code.replace(/(\\r\\n|\\n|\\r)/gm, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":140,"wires":[["d0e733c6a0a5463d"]]},{"id":"50b63c8d.67b134","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"bin","out":"char","addchar":"","responsetimeout":"200"},{"id":"c4a4f5a0.ad2e18","type":"mqtt-broker","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]