qrcodes/nodered/qrcode-generation.json
[{"id":"e610e30e6227a6e7","type":"tab","label":"QR-Code Generation","disabled":false,"info":"","env":[]},{"id":"8c5ea367c05da4a0","type":"uuid","z":"e610e30e6227a6e7","uuidVersion":"v4","namespaceType":"","namespace":"","namespaceCustom":"","name":"","field":"payload","fieldType":"msg","x":270,"y":100,"wires":[["cb984478d0c6ee9f"]]},{"id":"b186999f8024d1d3","type":"inject","z":"e610e30e6227a6e7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":60,"wires":[["8c5ea367c05da4a0","f12278243f39639d"]]},{"id":"16e2e9ecadbf18a3","type":"http request","z":"e610e30e6227a6e7","name":"QR Upload cumulocity","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://kunbus.eu-latest.cumulocity.com/inventory/managedObjects","tls":"7a71a1477abea943","persist":false,"proxy":"","authType":"basic","senderr":false,"x":680,"y":100,"wires":[["7221a479e95f91e2","274d788f2c9b8ef1"]]},{"id":"cb984478d0c6ee9f","type":"change","z":"e610e30e6227a6e7","name":"","rules":[{"t":"set","p":"uuid","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.type","pt":"msg","to":"uuid","tot":"str"},{"t":"set","p":"payload.uuid","pt":"msg","to":"uuid","tot":"msg"},{"t":"set","p":"payload.used","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":100,"wires":[["16e2e9ecadbf18a3"]]},{"id":"21a20bab8d1350ad","type":"Barcode Generator","z":"e610e30e6227a6e7","name":"","data":"uuid","dataType":"msg","barcode":"qrcode","barcodeType":"barcode","options":"","optionsType":"ui","sendProperty":"payload","props":[{"p":"rotate","v":"N","vt":"str"},{"p":"includetext","v":"true","vt":"bool"},{"p":"textxalign","v":"center","vt":"str"}],"x":670,"y":160,"wires":[["d40b255bbe67a3e4","b4e1930867ffaed7"]]},{"id":"d40b255bbe67a3e4","type":"image viewer","z":"e610e30e6227a6e7","name":"","width":160,"data":"payload","dataType":"msg","active":true,"x":890,"y":160,"wires":[[]]},{"id":"b4e1930867ffaed7","type":"file","z":"e610e30e6227a6e7","name":"save code PNG","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":700,"y":200,"wires":[[]]},{"id":"b1e8d22e0ecd7994","type":"function","z":"e610e30e6227a6e7","name":"filename PNG","func":"msg.name = 'codes' + '/' + msg.uuid + '.png';\nmsg.filename = msg.path + msg.name;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":160,"wires":[["21a20bab8d1350ad"]]},{"id":"7221a479e95f91e2","type":"debug","z":"e610e30e6227a6e7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":100,"wires":[]},{"id":"274d788f2c9b8ef1","type":"switch","z":"e610e30e6227a6e7","name":"status == 201","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"201","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":160,"y":160,"wires":[["6fbc2d0ecded4041"]]},{"id":"5b126dc065b00f92","type":"file","z":"e610e30e6227a6e7","name":"code CSV","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":680,"y":320,"wires":[[]]},{"id":"2a192f722abe3de8","type":"function","z":"e610e30e6227a6e7","name":"create CSV Entry","func":"msg.payload = msg.path +  msg.name;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":280,"wires":[["5b126dc065b00f92"]]},{"id":"f12278243f39639d","type":"link out","z":"e610e30e6227a6e7","name":"","mode":"link","links":["09982bc1cba58875"],"x":455,"y":60,"wires":[]},{"id":"665d49fc9fab07ae","type":"function","z":"e610e30e6227a6e7","name":"filename CSV","func":"msg.name = 'codes' + '/' + msg.uuid + '.png';\nmsg.filename = msg.path + 'codes.csv';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":280,"wires":[["2a192f722abe3de8"]]},{"id":"6fbc2d0ecded4041","type":"change","z":"e610e30e6227a6e7","name":"--->SET WORK DIR<---","rules":[{"t":"set","p":"path","pt":"msg","to":"C:/Kunbus Hackathon 2022/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":220,"wires":[["b1e8d22e0ecd7994","665d49fc9fab07ae"]]},{"id":"7a71a1477abea943","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false,"alpnprotocol":""}]